# Objects and Data Structures Assessment Test

## Test your knowledge.

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers:اعداد

Strings:رشته ها

Lists:قابل تغییر

Tuples:غیر قابل تغییر

Dictionaries: دارای مقدار و ارزش

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
result = (10 * 10) + (5 / 4) - (2 ** 0)
print(result)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5
    
    What is the value of the expression 4 + 6 * 5

In [6]:
x1=4*(6+5)
x2=4*6+5
x3=4+6*5
print(x1,x2,x3)

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [8]:
x=3+1.5+4
print(type(x))

<class 'float'>

What would you use to find a number’s square root, as well as its square?

In [10]:
# Square root:
num=16
Square_root=num**0.5
print(Square_root)

4.0

In [12]:
# Square:
num=6
square=num**2
print(square)

36

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing

s=s[1:2]
print(s)

e

Reverse the string 'hello' using slicing:

In [29]:
s ='hello'
# Reverse the string using slicing
s=s[::-1]
print(s)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [30]:
s ='hello'
# Print out the 'o'

# Method 1:
s=s[4]
print(s)

o

In [39]:
# Method 2:
s ='hello'
slist=[]
for index in s:
  slist.append(index)
print(slist[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [40]:
# Method 1:
my_list=[0,0,0]
print(my_list)

[0, 0, 0]

In [41]:
# Method 2:
my_list=[0]*3
print(my_list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [43]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [45]:
list4 = [5,3,4,6,1]

print(sorted(list4))

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [48]:
d = {'simple_key':'hello'}
# Grab 'hello'

print(d['simple_key'])

hello

In [51]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

print(d['k1']['k2'])

hello

In [38]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

my_char=(d['k1'][0]['nest_key'][1][0])
print(my_char)

hello

In [48]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br>Yes   we can sort a dictionary through key or value but  we need to quick access to data and if dictionary sorted we need to more time<br>

## Tuples

What is the major difference between tuples and lists?<br>lists are mutable and tuples are Immutable <br>

How do you create a tuple?<br> <br>

In [57]:
a=(1,)
print (type((a)))

<class 'tuple'>

## Sets

In [8]:
set1={1,2,3,3,4}
print(set1)

{1, 2, 3, 4}

What is unique about a set?<br>،There are not any numbers duplicate<br>

Use a set to find the unique values of the list below:

In [61]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set1=set(list5)
print (sorted(set1))
print(type(set1))

[1, 2, 3, 4, 11, 22, 33]
<class 'set'>

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [1]:
# Answer before running cell
2 > 3

False

In [2]:
# Answer before running cell
3 <= 2

False

In [3]:
# Answer before running cell
3 == 2.0

False

In [4]:
# Answer before running cell
3.0 == 3

True

In [5]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [6]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!